In [35]:
l = []

In [36]:
type(l)

list

In [37]:
l1 = [1,2,3,4,5,'sudh','kumar',3+6j,345.32,False,[1,2,3,4,5]]

In [38]:
l1

[1, 2, 3, 4, 5, 'sudh', 'kumar', (3+6j), 345.32, False, [1, 2, 3, 4, 5]]

In [39]:
s = 'fsard23123478()*&@#'

In [40]:
type(l1)

list

In [41]:
l1[0]

1

In [42]:
l1[1]

2

In [43]:
l1[-1]

[1, 2, 3, 4, 5]

In [44]:
l1[-1][-1]

5

In [45]:
l1[0:5]

[1, 2, 3, 4, 5]

In [46]:
l2 = [3,4,5,'pwskills','sudh']

In [47]:
l1 + l2

[1,
 2,
 3,
 4,
 5,
 'sudh',
 'kumar',
 (3+6j),
 345.32,
 False,
 [1, 2, 3, 4, 5],
 3,
 4,
 5,
 'pwskills',
 'sudh']

In [48]:
l2 + "sudh"

TypeError: can only concatenate list (not "str") to list

In [49]:
list("sudh")

['s', 'u', 'd', 'h']

In [50]:
list(345)

TypeError: 'int' object is not iterable

In [51]:
l2

[3, 4, 5, 'pwskills', 'sudh']

In [52]:
l2 * 2

[3, 4, 5, 'pwskills', 'sudh', 3, 4, 5, 'pwskills', 'sudh']

In [53]:
l2[0]

3

In [54]:
l2[0] = l2[0] * 300 
l2[0]

900

In [55]:
l2

[900, 4, 5, 'pwskills', 'sudh']

In [56]:
t = (1,2,3,4,'sudh','pwskills',4+56j,True)

In [57]:
t

(1, 2, 3, 4, 'sudh', 'pwskills', (4+56j), True)

In [58]:
type(t)

tuple

In [59]:
t[0]

1

In [60]:
t[-1]

True

In [61]:
t[::-1]

(True, (4+56j), 'pwskills', 'sudh', 4, 3, 2, 1)

In [62]:
t

(1, 2, 3, 4, 'sudh', 'pwskills', (4+56j), True)

In [63]:
t[0]

1

In [64]:
t[0] = 'sudh'

TypeError: 'tuple' object does not support item assignment

In [65]:
t1 = (5,6,7,8,9)

In [66]:
t1

(5, 6, 7, 8, 9)

In [69]:
t

(1, 2, 3, 4, 'sudh', 'pwskills', (4+56j), True)

In [70]:
t + t1

(1, 2, 3, 4, 'sudh', 'pwskills', (4+56j), True, 5, 6, 7, 8, 9)

In [71]:
t * 2

(1,
 2,
 3,
 4,
 'sudh',
 'pwskills',
 (4+56j),
 True,
 1,
 2,
 3,
 4,
 'sudh',
 'pwskills',
 (4+56j),
 True)

In [72]:
t

(1, 2, 3, 4, 'sudh', 'pwskills', (4+56j), True)

In [73]:
list(t)

[1, 2, 3, 4, 'sudh', 'pwskills', (4+56j), True]

In [74]:
tuple(l2)

(900, 4, 5, 'pwskills', 'sudh')

In [76]:
len(t)

8

In [77]:
len("Su                 dh")

21

In [78]:
len("sudh")

4

In [79]:
l1

[1, 2, 3, 4, 5, 'sudh', 'kumar', (3+6j), 345.32, False, [1, 2, 3, 4, 5]]

In [80]:
len(l1)

11

In [81]:
s = {}

In [82]:
type(s)

dict

In [85]:
s1 = {1,2,3,4,5,5,5}

In [86]:
s1

{1, 2, 3, 4, 5}

In [87]:
type(s1)

set

In [88]:
s2 = {'sudh', 'sudh', "sudh", "Sudh", 1,2,3,4,5,5,5,123,1234,123,4432,432}

In [89]:
s2

{1, 123, 1234, 2, 3, 4, 432, 4432, 5, 'Sudh', 'sudh'}

In [90]:
list(s2)

['sudh', 2, 3, 4, 1, 'Sudh', 5, 4432, 432, 1234, 123]

In [93]:
set(l1)

TypeError: unhashable type: 'list'

In [92]:
set(l2)

{4, 5, 900, 'pwskills', 'sudh'}

In [94]:
s2[0]

TypeError: 'set' object is not subscriptable

In [97]:
s3 = {3,423,2314,234,234,23,423,42,2.3,3,423,4,234,234,234,234,23,543,4367,457,56,756,785,876,'sudh',1,423,54325,34,6543,654,7856,8,678,679,967}

In [98]:
s3

{1,
 2.3,
 23,
 2314,
 234,
 3,
 34,
 4,
 42,
 423,
 4367,
 457,
 543,
 54325,
 56,
 654,
 6543,
 678,
 679,
 756,
 785,
 7856,
 8,
 876,
 967,
 'sudh'}

In [99]:
d = {}
type(d)

dict

In [102]:
d = {'name' : 'sudhanshu', 'subject' : ['data science','bigdata','data analytics'],
     'number' : 31234523}

In [103]:
d

{'name': 'sudhanshu',
 'subject': ['data science', 'bigdata', 'data analytics'],
 'number': 31234523}

In [104]:
d2 = {'name' : 'sudh' , 'name' : 'sudhanshu'}

In [105]:
d2

{'name': 'sudhanshu'}

In [106]:
d3 = {1234 : "sudh"}

In [107]:
d3

{1234: 'sudh'}

In [108]:
d4 = {[1,2,3,5] : "home"}

TypeError: unhashable type: 'list'

In [109]:
d5 = {(1,2,34):'kola'}

In [110]:
d5

{(1, 2, 34): 'kola'}

In [111]:
d4 = {'course':['dsa','java','webdev','blockchain','cloud'],'mentor':('sudh','krish','vishwa','sunny','sourganshu'),'price':{3500,2000,15000,11000,3500},'duration':1,'access_year':1}

In [112]:
d4

{'course': ['dsa', 'java', 'webdev', 'blockchain', 'cloud'],
 'mentor': ('sudh', 'krish', 'vishwa', 'sunny', 'sourganshu'),
 'price': {2000, 3500, 11000, 15000},
 'duration': 1,
 'access_year': 1}

In [113]:
d4['course']

['dsa', 'java', 'webdev', 'blockchain', 'cloud']

In [114]:
d4['mentor']

('sudh', 'krish', 'vishwa', 'sunny', 'sourganshu')

In [115]:
d4['price']

{2000, 3500, 11000, 15000}