In [42]:
a = 500
price = 450
if price <= 500:
    print("yes i will be able to buy")

yes i will be able to buy

In [43]:
a = 500
price = 850
if price <= 500:
    print("yes i will be able to buy")

In [44]:
a = 500
price = 850
if price <= 500:
    print("yes i will be able to buy")
else:
    print("i wont be able to buy")

i wont be able to buy

In [45]:
a = 500
shirt_price = 200
pant_price = 500
coat_price = 800

if coat_price <= a:
    print("yes i will be able to buy")
elif pant_price < a:
    print("i will try to buy pant")
elif shirt_price < a:
    print("i will try to buy shirt")
else:
    print("i wont be able to buy")

i will try to buy shirt

In [46]:
a = 500
shirt_price = 200
pant_price = 500
coat_price = 800
my_size = 'M'
size_store = 'L'

if coat_price <= a:
    print("yes i will be able to buy")
elif pant_price < a:
    print("i will try to buy pant")
elif shirt_price < a:
    print("Yes its available under my budget")
    if my_size == size_store:
        print("i will try to buy shirt")
else:
    print("i wont be able to buy")

Yes its available under my budget

In [47]:
a = 500
shirt_price = 200
pant_price = 500
coat_price = 800
my_size = 'M'
size_store = ['L','XL','S','XXL','XXXL']

if coat_price <= a:
    print("yes i will be able to buy")
elif pant_price < a:
    print("i will try to buy pant")
elif shirt_price < a:
    print("Yes its available under my budget")
    if my_size in size_store:
        print("i will try to buy shirt")
    else:
        print("my size is not available")
else:
    print("i wont be able to buy")

Yes its available under my budget
my size is not available

In [48]:
a = 500
shirt_price = 200
pant_price = 500
coat_price = 800
my_size = 'M'
size_store = ['L','XL','S','XXL','XXXL','M']

if coat_price <= a:
    print("yes i will be able to buy")
elif pant_price < a:
    print("i will try to buy pant")
elif shirt_price < a:
    print("Yes its available under my budget")
    if my_size in size_store:
        print("i will try to buy shirt")
    else:
        print("my size is not available")
else:
    print("i wont be able to buy")

Yes its available under my budget
i will try to buy shirt

In [49]:
a = 500
shirt_price = 200
pant_price = 500
coat_price = 800
my_size = 'M'
size_store = ['L','XL','S','XXL','XXXL','M']
my_fav_clr = 'white'
store_clr = ['white', 'red', 'blue', 'orange']

if coat_price <= a:
    print("yes i will be able to buy")
elif pant_price < a:
    print("i will try to buy pant")
elif shirt_price < a:
    print("Yes its available under my budget")
    if my_size in size_store:
        print("i will try to buy shirt")
        if my_fav_clr in store_clr:
            print("i will try to choose it")
        else:
            print("my fav clr is not available. i will move to another store")
    else:
        print("my size is not available")
else:
    print("i wont be able to buy")

Yes its available under my budget
i will try to buy shirt
i will try to choose it

In [50]:
course = ['DSM', 'DSA', 'JAVA', 'Big Data', 'DA']
price = 20000
mentor = 'sudhanshu kumar'

if 'DSM' in course and price == 20000 and "sudhanshu kumar" == mentor:
    print("yes i am doing this course")

yes i am doing this course

In [51]:
course_price = 20000

if 10000 <= course_price <= 15000:
    print("i will try to buy a course")
else:
    print("its out of my budget")

its out of my budget

In [52]:
user_name = 'sudh'
password = 'sudh@1234'

if user_name == input("Enter your username") and password == input("Enter your password"):
    print("You have logged in successfully")
else:
    print("Enter correct username and password")

Enter your username sudh
Enter your password sudh@1234

You have logged in successfully

In [27]:
mobile_no = 123456
otp = 1234
if mobile_no == int(input("Enter your registered mobile number")):
    print("yes you are registred user")
    if otp == int(input("enter otp that we have sent on your mobile number")):
        print("you have logged in successfully")
    else:
        print("otp is not correct please try to enter again")
else:
    print("you have not entered valid mobile number")

Enter your registered mobile number 123456

yes you are registred user

enter otp that we have sent on your mobile number 1234

you have logged in successfully

In [30]:
mobile_no = {12312312,423534,123,2534,6534,6,54654,75687,568,675}
otp = 1234
if int(input("Enter your registered mobile number")) in mobile_no:
    print("yes you are registred user")
    if otp == int(input("enter otp that we have sent on your mobile number")):
        print("you have logged in successfully")
    else:
        print("otp is not correct please try to enter again")
else:
    print("you have not entered valid mobile number")

Enter your registered mobile number 6534

yes you are registred user

enter otp that we have sent on your mobile number 123

otp is not correct please try to enter again

In [35]:
l = [12,3,3,4,5,6,6]

for i in l:
    print(i)

12
3
3
4
5
6
6

In [40]:
l = [12,3,3,4,5,6,6]
mobile_no = [12312312,423534,123,2534,6534,6,54654,75687,568,675]
stud_mo = 54654
stud_details = {
    'mobile_no' : 54654,
    'courses' : ['dsa', 'dsm', 'big data']
}

for i in mobile_no:
    print(i)
    if i == stud_mo:
        print("yes user is registered")
        if stud_details['mobile_no'] == i:
            print("yes student details are available in db")
            print("course access to this user is ", stud_details['courses'])

12312312
423534
123
2534
6534
6
54654
yes user is registered
yes student details are available in db
course access to this user is  ['dsa', 'dsm', 'big data']
75687
568
675

In [41]:
t = (1,2,3,4,5,6)
for i in t:
    print(i)

1
2
3
4
5
6

In [53]:
t = (1,2,3,4,5,6,'sudh','kumar')
for i in t:
    if type(i) == str:
        print(i)

sudh
kumar

In [56]:
t = (1,2,3,4,5,6,'sudh','kumar')
int_list = []
str_list = []

for i in t:
    if type(i) == str:
        str_list.append(i)
    else:
        int_list.append(i)
    
print("integer list : ", int_list)
print("str list : ", str_list)

integer list :  [1, 2, 3, 4, 5, 6]
str list :  ['sudh', 'kumar']

In [57]:
s = {3,4,5,6,7,8,9,10,1231,23,43,2,4}
for i in s:
    print(i)

2
3
4
5
6
7
8
9
10
43
1231
23

In [58]:
d = {'name' : 'sudh', 'class' : ['big data', 'data analytics', 'data science', 'dsa', 'architecture', 'system design'],
     'mobile no' : 2312432423 , 'email_id' : 'sudh1234@gmail.com'}

In [59]:
d

{'name': 'sudh',
 'class': ['big data',
  'data analytics',
  'data science',
  'dsa',
  'architecture',
  'system design'],
 'mobile no': 2312432423,
 'email_id': 'sudh1234@gmail.com'}

In [60]:
for i in d.values():
    print(i)

sudh
['big data', 'data analytics', 'data science', 'dsa', 'architecture', 'system design']
2312432423
sudh1234@gmail.com

In [61]:
for i in d.keys():
    print(i)

name
class
mobile no
email_id

In [64]:
for i in d.values():
    if type(i) == list:
        if 'system design' in i:
            print("yes this mentor teaches system design")
        # print(i)

yes this mentor teaches system design